/* ==========================================================================
	#선생님 사이트
========================================================================== */

 #tBox{
	border: none;
	width: 650px;
	resize:none;
	text-align:center;
	overflow: hidden;
}
 