/* ==========================================================================
	#선생님 사이트
========================================================================== */

 #tBox{	
	width: 650px;
	resize:none;
	text-align:center;		
}

.read{
	border: none;
	outline: none;
	overflow: hidden;
}

.score{
	color: #f39c12;
	font-weight: 700;
}

.starrr {
  display: inline-block; }
  .starrr a {
    font-size: 16px;
    padding: 0 1px;
    cursor: pointer;
    color: #FFD119;
    text-decoration: none; }

.workIcon{
	font-size:15px;
}

.workInactive{
	pointer-events: none;
	display: none;
}

#example2 tbody tr{
	cursor: pointer;
}

.filesize{
	display: inline; 
	margin-left: 10px; 
	color: #737373;
}