@charset "UTF-8";

/* --------------------- 사이드 바 --------------------- */

body {
    font-family: "Lato", sans-serif;
    transition: background-color .3s;
}

#srcontianer {
	background-position: center top;
	min-height: 1100px;
	width: 100vw;
	margin-left: calc(-50vw + 50%);
	background-color: #FDFFF8;
}

.srcontianer {
	background-position: center top;
	min-height: 885px;
	width: 100vw;
	margin-top: 80px;
	margin-left: calc(-50vw + 50%);
	background-color: #FDFFF8;
}

.srMenuBtn {
	height: 50px;
	width: 50px;
	border-radius: 70%;
	font-size:30px; 
	cursor:pointer;
	background-color: #3e4e32;
	color: #ffffff; 	
	text-align: center;
	line-height: 50px;
	display : inline-block;
	vertical-align: middle;
}

.srMySidenav {
    height: 240px;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #3e4e32;
    overflow-x: hidden;
    transition: 0.3s;
    padding-top: 60px;
}

.srMySidenav a {
    padding: 4px 4px 4px 24px;
    text-decoration: none;
    font-size: 15px;
    color: #dddddd;
    display: block;
    transition: 0.7s;    
}

.srMySidenav a:hover, .offcanvas a:focus{
    color: #ffffff;
}

.srClosebtn {
    top: 0;
    right: 25px;
    font-size: 15px !important;
    margin-right: 10px;
    text-align: right;
}

#srMain {
	height: 50px;
    width: 50px;
    position: fixed;
    z-index: 1;
    top: 30px;
    left: 10px;
    transition: margin-left .3s;
    padding: 16px;
    padding-top: 60px;
}


.srSelect {
	padding:5px 0px 5px 0px; 
	height: 45px ;
	background-color: #cadfcb;
	border-right : 1px solid #678253;
	border-bottom : 1px solid #678253; 
	border-radius: 5px;	
}
  

/* --------------------- 메뉴 바 --------------------- */

.thumbnail {
	text-align: center; 
	cursor:pointer;
	padding-bottom : 10px;
}

.thumbnail:hover {
	border: 1px solid #117306;
}

.srPicTagContent {
	background-color: #f6f6f6;
	border-right : 1px solid #eeeeee;
	border-bottom : 1px solid #eeeeee; 
	margin: 5px 3px 8px 3px;
	padding: 5px 8px 5px 8px;
	font-family:'맑은고딕';
	font-size: 8pt;
	text-align: center;
	overflow: auto;	
}

.srPicTagContent div {
	line-height: 1.4;
	display : inline-block;
	vertical-align: middle;
}



}


/* --------------------- 페이징 --------------------- */
.pagination {
	margin-top:-5px;
}

/* --------------------- 모달(상세보기) --------------------- */

.modal-dialog.modal-eight {
	width : 90%;
	max-width : 1000px;
	margin: 0;
	padding: 0;
	border-radius: 4px;
}

.srModalDetail {
	height : 100%;
	background-color: #e9efea;
}

.modal-content.modal-eight {
	height : auto;
	min-height : 90%;
	border-radius: 5px;
	background-color: #eeeeee;
	overflow:hidden;
}

.srModal-body {
	height : auto;
	min-height : 100%;
	overflow:hidden;
	border-radius: 5px;
	padding : 5px;
}



#srModal{
	text-align: -webkit-center;
	border-radius: 5px;
}

.modal.modal-center:before {
	display : inline-block;
	vertical-align:middle;
	content:" ";
	height:10%;
}

.modal-dialog.modalcenter {
	display: inline-block;
	text-align: left;
	vertical-align: middle;
}

.btn-srModal {
	float: right;
	margin: 0px 15px 25px 9px;
	border-radius: 3px;
	border : 0px;
	background-color: #769560;
	color: #ffffff;
	padding: 3px 10px 3px 10px;
	font-size: 10pt;
}

.btn-srModalCreate {
	float: right;
	margin: 13px 13px 12px 0px;
	border-radius: 3px;
	border : 0px;
	background-color: #769560;
	color: #ffffff;
	padding: 3px 10px 3px 10px;
	font-size: 10pt;
}

.btn-srModalUpClose {
	float: right;
	margin-right : -15px;
	border-radius: 3px;
	border : 0px;
	background-color: #769560;
	color: #ffffff;
	padding: 3px 10px 3px 10px;
	font-size: 12pt;
	z-index:1100;
}

.srFirstModal{
	background-color: #ffffff;
	display : inline-block;
	overflow : hidden;
	height: 617px;
	width : 95%;
	border-radius: 5px;
	border-top : 2px solid #cccccc;
	border-left : 2px solid #cccccc;
	border-right : 5px double #aaaaaa;
	border-bottom : 5px double #aaaaaa;
}

.srModalTitleArea {
	padding : 10px 5px 5px 5px;
	margin-top : 0px;
	border-radius: 5px;
	height: 13%;
	width : 95%;
}

.srModalTitle {
	font-weight: 700;
	padding : 5px;
	width : auto;
}

.srModalIntro {
	margin : 8px 12px 10px 12px;
	border-radius: 5px;
	padding: 8px;
	font-family:'맑은고딕';
	font-color: #000000;
	width : 90%;
	height: 150px;
	font-size: 10pt;
	text-align: center;
	background-color: #76956045;
	border: 1px solid #257846;
}

.srModalIntroContent {
	background-color: #fefefe;
	border: 1px solid #257846;
	color: #333333;
	overflow: auto;
	height : 130px;
}

.srModalIntroContent div {
	display : inline-block;
	line-height: 1.4;
	vertical-align: middle;
}

.srModalTable {
	height: 90px;
	width : 90%;
	display : inline-block;
	vertical-align : middle;
	font-family: '굴림';
	font-size: 9pt;
	text-align: left;
	margin : 8px 0px 0px 0px;
}

.srModalWriteTable {
	height: 181px;
	width : 90%;
	display : inline-block;
	vertical-align : middle;
	font-family: '굴림';
	font-size: 9pt;
	text-align: left;
	margin : 8px 0px 0px 0px;
}

.srModalInfo {
	width : 100%;
}

.srSecondModalInfo {
	width : 85%;
	padding : 10px;
	margin-top : 10px;
	font-size: 8pt;
}

.tableName {
	text-align: center;
	font-weight: 800;
	vertical-align: middle;
	background-color : #76956045;
	color : #333333;
	padding : 2px 5px 2px 5px;
	width : 30%;
}

.secondTablePeople {
	font-weight: 400;
	vertical-align: middle;
	padding-left : 5px;
}

.srTableLine {
	border-top : 1px solid #257846;
	border-bottom : 1px solid #257846;
	height: 10px;
	padding-top : 3px;
	padding-bottom : 3px;
}

.srSecondOneModal {
	width: 100%;
	height: 100px;
	background-color: #ffffff;
	border-radius: 5px;
	border-radius: 5px;
	border-top : 2px solid #cccccc;
	border-left : 2px solid #cccccc;
	border-right : 5px double #aaaaaa;
	border-bottom : 5px double #aaaaaa;
}

.secondTableName {
	text-align: center;
	font-weight: 800;
	vertical-align: middle;
	background-color : #76956045;
	color : #333333;
	padding : 2px 5px 2px 5px;
	width : 25%;
}

.tableContent {
	font-weight: 400;
	vertical-align: middle;
	padding-left : 5px;
	width : 70%;
}

.secondTableContent {
	font-weight: 400;
	vertical-align: middle;
	padding-left : 5px;
	width : 25%;
	border : 1pt dotted #cccccc;
}

.srSecondTwoModal {
	width: 100%;
	height: 377px;
	background-color: #ffffff;
	border-radius: 5px;
	margin-top : 20px;
	border-radius: 5px;
	border-top : 2px solid #cccccc;
	border-left : 2px solid #cccccc;
	border-right : 5px double #aaaaaa;
	border-bottom : 5px double #aaaaaa;
}

.srThirdModal {
	height: 617px;
	background-color: #ffffff;
	border-radius: 5px;
	border-radius: 5px;
	border-top : 2px solid #cccccc;
	border-left : 2px solid #cccccc;
	border-right : 5px double #aaaaaa;
	border-bottom : 5px double #aaaaaa;
}

.srTimeButton {
	background-color: #ffffff;
	padding : 3px;
	border-radius: 3px;
	border : 1px solid #eeeeee;
	-ms-user-select: none;
	-moz-user-select: -moz-none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	user-select: none;
}

.srTimeButton label {
	height: 5px;
	width: 35px;
	background-color: #c0c0c0;
	border-radius : 2px;
	display: inline-block;
	cursor:pointer;
}

.srTimeColor span {
	font-size: 4pt;
	color : #055828;
}

.srRoomName {
	margin-top : 15px;
	background-color: #ecfacd;
	color: #555555;
	padding : 3px;
	border-radius: 3px;
	border : 1px solid #88d0a9;
}

.roomNames {
	margin-top : 15px;
	background-color: #ecfacd;
	color: #555555;
	padding : 3px;
	border-radius: 3px;
	border : 1px solid #88d0a9;
}

.modalName {
	font-weight: 500;
	color: #ffffff;
	background-color: #a3c58f;
	padding: 4px;
	border-radius: 2px;
}

.scrollSecondOneModal {
	height : 50px;
	overflow: auto;
}

.scrollSecondTwoModal {
	height : 275px;
	overflow: auto;
}

.scrollThirdModal {
	height : 517px;
	overflow: auto;
}


.srModalTop {
	border-bottom : 1px solid #cccccc;
	width : 100%;
	height : auto;
}

.srModalNext {
	border-top : 1px solid #cccccc;
	width : 100%;
	height : auto;
}

.btn-srModalNext {
	margin-top : 15px;
	margin-right:  15px;
	float: right;
	border-radius: 3px;
	border : 0px;
	background-color: #769560;
	color: #ffffff;
	padding: 3px 10px 3px 10px;
	font-size: 8pt;
}

.srModalBottomSpace {
	height : 15px;
}

.srModalPeople {
	float : left;
	border-radius: 3px;
	border : 2px solid #88d0a9;
	margin : 15px 0px 0px 25px;
	width : 150px;
	font-size : 10px;
}

.srModalDatePicker {
	margin-top : 10px;
}

/* --------------------- modal_write.jsp --------------------- */

.srInsertPic {
	height : 100%;
	width : 100%;
	border : 1px solid #cccccc;
}

.srModalPicFrame div span {
	font-size: 14pt;
	font-weight: 700;
}

.srInsertText {
	padding-left : 0px;
	border: none;
	width: 100%;
}

.srInsertTextarea {
	height : 100%;
	width : 100%;
	overflow: auto;
	line-height: 1.4;
	height : 125px;
	border : none;
}

.srInsertIntro {
	margin : 8px 12px 10px 12px;
	border-radius: 5px;
	padding: 8px;
	font-family:'맑은고딕';
	font-color: #000000;
	width : 90%;
	height: 150px;
	font-size: 10pt;
	text-align: center;
	background-color: #76956045;
	border: 1px solid #257846;
}

.srInsertPicClick {
	cursor:pointer;
}

.srRemoveRow {
	border : none;
	border-radius: 50%;
	background-color: #d84b6be0;
	color: #ffffff; 
	font-weight: 500;
	font-size: 5px;
	vertical-align: middle;
}

.srRemoveRow:hover {
	background-color: #95203ae0;
}

/* --------------------- ChangeScreen --------------------- */

@media screen and (min-width: 1244px) {
	.srPic {
	display: flex;
	min-height: 150px;
	max-height: 150px;
	
	}
	
	.srPicTagContent {
	background-color: #f6f6f6;
	border-right : 1px solid #eeeeee;
	border-bottom : 1px solid #eeeeee; 
	margin: 5px 3px 8px 3px;
	padding: 5px 8px 5px 8px;
	font-family:'맑은고딕';
	font-size: 8pt;
	height: 90px;
	line-height: 79px;
	text-align: center;
	}
	
	#srMySidenav {width: 120px;}
	
	.srModalPicFrame {
	border: 5px double #eeeeee;
	min-height: 200px;
	width : 90%;
	}
	
	.srModalPic {
	min-height: 200px;
	max-height: 200px;
	width: 100%;
	}
	
	.srSecondOneModal {
	margin-left : -24px;
	}
	
	.srSecondTwoModal {
		margin-left : -24px;
	}
	
	.srThirdModal {
		width: 100%;
		margin-left : -24px;
	}
	
	.srMap {
		border-radius: 5px;
		height : 736px;
	}
}


@media screen and (max-width: 1243px) {
	.srPic {
	display: flex;
	min-height: 135px;
	max-height: 200px;
	}
	
	.srPicTagContent {
		background-color: #f6f6f6;
		border-right : 1px solid #eeeeee;
		border-bottom : 1px solid #eeeeee; 
		margin: 5px 3px 8px 3px;
		padding: 5px 8px 5px 8px;
		font-family:'맑은고딕';
		font-size: 10pt;
		height: 90px;
		line-height: 79px;
		text-align: center;
	}
	
	.srMySidenav {padding-top: 15px;}
	
	.srModalPicFrame {
		border: 5px double #eeeeee;
		min-height: 150px;
		width : 90%;
	}
	
	.srModalPic {
		min-height: 150px;
		max-height: 150px;
		width: 100%;
	}
	
	.srSecondOneModal {
		margin-left : -20px;
	}
	
	.srSecondTwoModal {
		margin-left : -20px;
	}
	
	.srThirdModal {
		margin-top : 25px;
		width: 97.5%;
	}
	
	.srMap {
		border-radius: 5px;
		height : 300px;
	}
}

@media screen and (max-width: 768px) {
	.srFirstModal {
		width: 95%;
	}
	
	.srSecondOneModal {
		width: 95%;
		margin-top: 15px;
		margin-left: 0px;
	}
	
	.srSecondTwoModal {
		width: 95%;
		margin-left: 0px;
	}
	
	.srThirdModal {
		width: 95%;
	}
	
	.srPicTagContent {
		height: 120px;
		line-height: 109px;
	}
	
	.srMap {
		border-radius: 5px;
		height : 300px;
	}
}


/* --------------------- payment --------------------- */
	.srBag {
		border-top : 1px solid #40808044;
		border-left : 1px solid #40808044;
		border-right : 3px double #40808044;
		border-bottom : 3px double #40808044;
		border-radius : 5px;
		width : 95%;
		text-align: center;
		background-color: #ffffff;
		clear: left;
		height : 415px;
		overflow: auto;
	}
	
	.srBagPay {
		border-top : 1.5px solid #40808055;
		border-left : 1.5px solid #40808055;
		border-bottom : 4px double #40808055;
		border-right : 4px double #40808055;
		border-radius : 5px;
		width : 100%;
		background-color: #ffffff;
		height : 200px;
		padding : 5px;
		text-align:center;
	}
	
	.srBagLine{
		height : 40px;
		width : 95%;
		text-align: center;
	}
	
	.srBagName {
		margin : -18px 0px 0px -8px;
		padding : 5px 0px 3px 0px;
		border-radius : 5px;
		width : 100px;
		background-color: #408080;
		color: #ffffff;
		font-weight : 700;
		font-size : 10pt;
	}
	
	.bagInput {
		border : none;
		width : 95%;
		text-align: center;
		font-weight: normal;
	}
	
	.srBagItems {
		text-align: center; 
		width: 100%; 
		height: 220px; 
		display: unset; 
		position:relative; 
		vertical-align:middle;
		margin-top: 5px;
	}
	
	.srBagItemsBorder {
		margin-top: 20px;
		text-align: center; 
		width: 90%; 
		height: 170px; 
		border-top: 1px solid #dddddd;
		border-left: 1px solid #dddddd;
		border-right: 1px solid #aaaaaa;
		border-bottom: 1px solid #aaaaaa;
		background-color: #eeeeee33;  
		position: inherit; 
		left: 5%; 
		vertical-align:middle;
	}
	
	.srBagItemsName {
		border: 1px solid #dddddd;
		width: 80%; 
		height: 25px;   
		position: inherit; 
		left: -1px; 
		top: -10px;
		padding : 2px;
		border-radius : 5px;
		background-color: #c6cae6;
		font-weight : 500;
		font-size : 11pt;
		color: #000000;
	}
	
	.srBagCloseBtn {
		width: 20px; 
		height: 20px;
		padding-top: 0px;   
		position: inherit; 
		left: 1px; 
		top: -30px;
		border-radius : 5px;
		background-color: #b70909;
		color: #ffffff;
		font-weight : 700;
		font-size : 10pt;
		float: right;
		cursor:pointer;
	}
	
	.srBagCloseBtn div{
		position : relative;
		top : -1px;
		left : 3%;
	}
	
	.srBagCloseBtn:hover {
		background-color: #e60b0b;
		border : 1px solid #fbdbff;
	}
	
	.srBagItemsImg {
		width: 90px; 
		height: 90px;
		border : 3px double #808080;   
		position: inherit; 
		left: 10px; 
		top: 0%;
		border-radius : 5px;
		
		float: left;
	}
	
	.srBagTitleName {
		border-top:3px double #cccccc; 
		border-bottom:3px double #cccccc; 
		font-size: 14pt; 
		font-weight: 700; 
		padding: 10px;
		background-color: #646b8c;
		color:#ffffff;
	}
	
	.srBagContents {
		text-align: left;
		width : 78%;
		margin: 0px 0px 0px 110px;
	}
	
	.srBagContentsTitle{
		font-size: 9pt;
		font-weight : 700;
		text-align : center; 
		padding : 4px 7px 4px 7px;
		border-radius: 2px;
		background-color: #eeeeee;
		float : left;
		border-radius: 3px;
	}
	
	
	.srBagInner {
		position : relative;
		top : 15%;
	}
	
	.srBagInner div {
		text-align: left;
		margin-bottom : 2px;
		margin-left : 4px;
	}
	
	.srBagContentsText{
		margin : 2px 15px 0px 5px;
		font-size: 8pt;
		float : left;
		padding : 2px;
	}
	
	.srBagContentsLine{
		width:50%;
		float:left;
		margin : 2px 0px 2px 0px;
	}
	
@media screen and (min-width: 1374px) {
	.srBagItemsBorder {
		height : 153px;
	}
}

@media screen and (max-width: 1373px) {
	.srBagItemsBorder {
		height : 175px;
	}
}

@media screen and (max-width: 1269px) {
	.srBagItemsBorder {
		height : 190px;
	}
}

@media screen and (max-width: 1168px) {
	.srBagItemsBorder {
		height : 215px;
	}
}

@media screen and (max-width: 1000px) {
	.srBagItemsBorder {
		height : 227px;
	}
}
	
	.srBagContentsTitleBtn{
		font-size: 9pt;
		font-weight : 700;
		text-align : center; 
		padding : 4px 7px 4px 7px;
		border-radius: 2px;
		background-color: #eeeeee;
		float : left;
		border-radius: 3px;
		background-color: #f04f11; 
		clear:left; 
		margin-top:30px; 
		width:95%; 
		position:relative; 
		left: 5px;
	}
	
	.srBagContentsTitleBtn:hover {
		background-color: #f04f11cc;
		cursor:pointer;
	}
	
	.srBagPayLine{
		width:100%;
		margin : 2px 0px 2px 0px;
	}

	.srBagPayBtn{
		width:100%;
		height:100%;
		padding: 5px 0px 5px 0px; 
	}
	
	.srBagSub{
		font-size:5pt;
		color:#aaaaaa;
	}
	
	.srPayDoneBox {
		padding : 10px;
		width : 60%;
		min-width : 400px;
		position : absolute;
		top : 7%;
		left : 13%;
		border-radius: 5px;
		border : 5px double #646b8ccc;
	}
	
	/*-- 구매목록 보이는 것 --*/
	.srPayListBox {
		padding : 10px;
		width : 70%;
		min-width : 700px;
		position : absolute;
		top : 7%;
		left : 5%;
		border-radius: 5px;
		border : 5px double #6c2b5ecc;
		background-color: #ffffff;
	}
	
	.srPayListTop {
		font-size: 9pt;
		font-weight : 700;
		text-align : center; 
		padding : 4px 7px 4px 7px;
		border-radius: 2px;
		background-color: #eeeeee;
		float : left;
		border-radius: 3px;
	}
	
	.srPayListLine{
		width:50%;
		float:left;
		margin : 2px 0px 2px 0px;
		padding: 1px 0px 1px; 0px;
	}
	
	.srPayList{
		width:50%;
		float:left;
		margin : 2px 0px 4px 0px;
		padding: 1px 0px 1px; 0px;
	}
	
	.srPayList:hover {
		background-color:#6c2b5e07;
	}
	
	.srPayListSpLine {
		position:relative;
		left: 0.5%;
		top: 4px;
		width: 99%;
		clear:left; 
		border-top: 1px solid #6c2b5e11 ; 
	}
	
	
	.srPayArticleBox {
		padding : 10px;
		width : 70%;
		min-width : 700px;
		position : absolute;
		top : 40%;
		left : 5%;
		border-radius: 5px;
		border : 2px double #eeeeeecc;
		background-color: #ffffff;
	}
	
	.box-primary {
		position:relative ; 
		left: 10% ;
		margin-top: 80px; 
		width: 400px; 
		background: #E0F8E5; 
		border-radius: 5px; 
		border-top    :4px dashed #95004a66 ;
		border-left   :4px dashed #95004a66 ;
		border-right  :4px dashed #95004a66 ;
		border-bottom :4px dashed #95004a66 ;
		padding : 5px;
		background-color: #faa3bb55;
	}
	
	.myPageMainPicFrame {
		position:relative;
		left: 20px;
		margin-top:40px;
		border-radius:50%;
		background-color: #95004a99;
		border-radius: 50%;
		height : 320px;
		width : 320px;
	}
	
	.myPageMainPic {
		position:relative;
		left:3.5%;
		margin-top:10px;
		border-radius:50%;
	}