@charset "UTF-8";

/* --------------------- 사이드 바 --------------------- */

body {
    font-family: "Lato", sans-serif;
    transition: background-color .3s;
}

#srcontianer {
	background-position: center top;
	min-height: 1100px;
	width: 100vw;
	margin-left: calc(-50vw + 50%);
	background-color: #FDFFF8;
}

.srcontianer {
	background-position: center top;
	min-height: 885px;
	width: 100vw;
	margin-top: 80px;
	margin-left: calc(-50vw + 50%);
	background-color: #FDFFF8;
}

.srMenuBtn {
	height: 50px;
	width: 50px;
	border-radius: 70%;
	font-size:30px; 
	cursor:pointer;
	background-color: #3e4e32;
	color: #ffffff; 	
	text-align: center;
	line-height: 50px;
	display : inline-block;
	vertical-align: middle;
}

.srMySidenav {
    height: 240px;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #3e4e32;
    overflow-x: hidden;
    transition: 0.3s;
    padding-top: 60px;
}

.srMySidenav a {
    padding: 4px 4px 4px 24px;
    text-decoration: none;
    font-size: 15px;
    color: #dddddd;
    display: block;
    transition: 0.7s;    
}

.srMySidenav a:hover, .offcanvas a:focus{
    color: #ffffff;
}

.srClosebtn {
    top: 0;
    right: 25px;
    font-size: 15px !important;
    margin-right: 10px;
    text-align: right;
}

#srMain {
	height: 50px;
    width: 50px;
    position: fixed;
    z-index: 1;
    top: 30px;
    left: 10px;
    transition: margin-left .3s;
    padding: 16px;
    padding-top: 60px;
}


.srSelect {
	padding:5px 0px 5px 0px; 
	height: 45px ;
	background-color: #cadfcb;
	border-right : 1px solid #678253;
	border-bottom : 1px solid #678253; 
	border-radius: 5px;	
}
  

/* --------------------- 메뉴 바 --------------------- */

.thumbnail {
	text-align: center; 
	cursor:pointer;
	padding-bottom : 10px;
}

.thumbnail:hover {
	border: 1px solid #117306;
}

.srPicTagContent {
	background-color: #f6f6f6;
	border-right : 1px solid #eeeeee;
	border-bottom : 1px solid #eeeeee; 
	margin: 5px 3px 8px 3px;
	padding: 5px 8px 5px 8px;
	font-family:'맑은고딕';
	font-size: 8pt;
	text-align: center;
	overflow: auto;	
}

.srPicTagContent div {
	line-height: 1.4;
	display : inline-block;
	vertical-align: middle;
}

.srMap {
	border-radius: 5px;
	height : 624px;

}


/* --------------------- 페이징 --------------------- */
.pagination {
	margin-top:-5px;
}

/* --------------------- 모달(상세보기) --------------------- */

.modal-dialog.modal-eight {
	width : 90%;
	max-width : 1000px;
	margin: 0;
	padding: 0;
	border-radius: 4px;
}

.srModalDetail {
	height : 100%;
	background-color: #e9efea;
}

.modal-content.modal-eight {
	height : auto;
	min-height : 90%;
	border-radius: 5px;
	background-color: #eeeeee;
	overflow:hidden;
}

.srModal-body {
	height : auto;
	min-height : 100%;
	overflow:hidden;
	border-radius: 5px;
	padding : 5px;
}



#srModal{
	text-align: -webkit-center;
	border-radius: 5px;
}

.modal.modal-center:before {
	display : inline-block;
	vertical-align:middle;
	content:" ";
	height:10%;
}

.modal-dialog.modalcenter {
	display: inline-block;
	text-align: left;
	vertical-align: middle;
}

.btn-srModal {
	float: right;
	margin: 0px 15px 25px 9px;
	border-radius: 3px;
	border : 0px;
	background-color: #769560;
	color: #ffffff;
	padding: 3px 10px 3px 10px;
	font-size: 10pt;
}

.btn-srModalCreate {
	float: right;
	margin: 13px 13px 12px 0px;
	border-radius: 3px;
	border : 0px;
	background-color: #769560;
	color: #ffffff;
	padding: 3px 10px 3px 10px;
	font-size: 10pt;
}

.btn-srModalUpClose {
	float: right;
	margin-right : -15px;
	border-radius: 3px;
	border : 0px;
	background-color: #769560;
	color: #ffffff;
	padding: 3px 10px 3px 10px;
	font-size: 12pt;
	z-index:1100;
}

.srFirstModal{
	background-color: #ffffff;
	display : inline-block;
	overflow : hidden;
	height: 617px;
	width : 95%;
	border-radius: 5px;
	border-top : 2px solid #cccccc;
	border-left : 2px solid #cccccc;
	border-right : 5px double #aaaaaa;
	border-bottom : 5px double #aaaaaa;
}

.srModalTitleArea {
	padding : 10px 5px 5px 5px;
	margin-top : 0px;
	border-radius: 5px;
	height: 13%;
	width : 95%;
}

.srModalTitle {
	font-weight: 700;
	padding : 5px;
	width : auto;
}

.srModalIntro {
	margin : 8px 12px 10px 12px;
	border-radius: 5px;
	padding: 8px;
	font-family:'맑은고딕';
	font-color: #000000;
	width : 90%;
	height: 150px;
	line-height: 130px;
	font-size: 10pt;
	text-align: center;
	background-color: #76956045;
	border: 1px solid #257846;
}

.srModalIntroContent {
	background-color: #fefefe;
	border: 1px solid #257846;
	color: #333333;
}

.srModalTable {
	height: 90px;
	width : 90%;
	display : inline-block;
	vertical-align : middle;
	font-family: '굴림';
	font-size: 9pt;
	text-align: left;
	margin : 8px 0px 0px 0px;
}

.srModalWriteTable {
	height: 181px;
	width : 90%;
	display : inline-block;
	vertical-align : middle;
	font-family: '굴림';
	font-size: 9pt;
	text-align: left;
	margin : 8px 0px 0px 0px;
}

.srModalInfo {
	width : 100%;
}

.srSecondModalInfo {
	width : 85%;
	padding : 10px;
	margin-top : 10px;
	font-size: 8pt;
}

.tableName {
	text-align: center;
	font-weight: 800;
	vertical-align: middle;
	background-color : #76956045;
	color : #333333;
	padding : 2px 5px 2px 5px;
	width : 30%;
}

.secondTablePeople {
	font-weight: 400;
	vertical-align: middle;
	padding-left : 5px;
}

.srTableLine {
	border-top : 1px solid #257846;
	border-bottom : 1px solid #257846;
	height: 10px;
	padding-top : 3px;
	padding-bottom : 3px;
}

.srSecondOneModal {
	width: 100%;
	height: 150px;
	background-color: #ffffff;
	border-radius: 5px;
	border-radius: 5px;
	border-top : 2px solid #cccccc;
	border-left : 2px solid #cccccc;
	border-right : 5px double #aaaaaa;
	border-bottom : 5px double #aaaaaa;
}

.secondTableName {
	text-align: center;
	font-weight: 800;
	vertical-align: middle;
	background-color : #76956045;
	color : #333333;
	padding : 2px 5px 2px 5px;
	width : 25%;
}

.tableContent {
	font-weight: 400;
	vertical-align: middle;
	padding-left : 5px;
	width : 70%;
}

.secondTableContent {
	font-weight: 400;
	vertical-align: middle;
	padding-left : 5px;
	width : 25%;
	border : 1pt dotted #cccccc;
}

.srSecondTwoModal {
	width: 100%;
	height: 447px;
	background-color: #ffffff;
	border-radius: 5px;
	margin-top : 20px;
	border-radius: 5px;
	border-top : 2px solid #cccccc;
	border-left : 2px solid #cccccc;
	border-right : 5px double #aaaaaa;
	border-bottom : 5px double #aaaaaa;
}

.srThirdModal {
	height: 617px;
	background-color: #ffffff;
	border-radius: 5px;
	border-radius: 5px;
	border-top : 2px solid #cccccc;
	border-left : 2px solid #cccccc;
	border-right : 5px double #aaaaaa;
	border-bottom : 5px double #aaaaaa;
}

.srTimeButton {
	background-color: #ffffff;
	padding : 3px;
	border-radius: 3px;
	border : 1px solid #eeeeee;
	-ms-user-select: none;
	-moz-user-select: -moz-none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	user-select: none;
}

.srTimeButton label {
	height: 5px;
	width: 35px;
	background-color: #c0c0c0;
	border-radius : 2px;
	display: inline-block;
	cursor:pointer;
}

.srTimeColor span {
	font-size: 4pt;
	color : #055828;
}

.srRoomName {
	margin-top : 15px;
	background-color: #ecfacd;
	color: #555555;
	padding : 3px;
	border-radius: 3px;
	border : 1px solid #88d0a9;
}

.modalName {
	font-weight: 500;
	color: #ffffff;
	background-color: #a3c58f;
	padding: 4px;
	border-radius: 2px;
}

.scrollSecondOneModal {
	height : 50px;
	overflow: auto;
}

.scrollSecondTwoModal {
	height : 345px;
	overflow: auto;
}

.scrollThirdModal {
	height : 517px;
	overflow: auto;
}


.srModalTop {
	border-bottom : 1px solid #cccccc;
	width : 100%;
	height : auto;
}

.srModalNext {
	border-top : 1px solid #cccccc;
	width : 100%;
	height : auto;
}

.btn-srModalNext {
	margin-top : 15px;
	margin-right:  15px;
	float: right;
	border-radius: 3px;
	border : 0px;
	background-color: #769560;
	color: #ffffff;
	padding: 3px 10px 3px 10px;
	font-size: 8pt;
}

.srModalBottomSpace {
	height : 15px;
}

.srModalPeople {
	float : left;
	border-radius: 3px;
	border : 2px solid #88d0a9;
	margin : 15px 0px 0px 25px;
	width : 150px;
	font-size : 10px;
}

.srModalDatePicker {
	margin-top : 24px;
}

/* --------------------- modal_write.jsp --------------------- */

.srInsertPic {
	height : 100%;
	width : 100%;
	border : 1px solid #cccccc;
}

.srModalPicFrame div span {
	font-size: 14pt;
	font-weight: 700;
}

.srInsertText {
	padding-left : 0px;
	border: none;
	width: 100%;
}

.srInsertTextarea {
	height : 100%;
	width : 100%;
	overflow: auto;
	line-height: 1.4;
	height : 125px;
	border : none;
}

.srInsertIntro {
	margin : 8px 12px 10px 12px;
	border-radius: 5px;
	padding: 8px;
	font-family:'맑은고딕';
	font-color: #000000;
	width : 90%;
	height: 150px;
	font-size: 10pt;
	text-align: center;
	background-color: #76956045;
	border: 1px solid #257846;
}

.srInsertPicClick {
	cursor:pointer;
}

.srRemoveRow {
	border : none;
	border-radius: 50%;
	background-color: #d84b6be0;
	color: #ffffff; 
	font-weight: 500;
	font-size: 5px;
	vertical-align: middle;
}

.srRemoveRow:hover {
	background-color: #95203ae0;
}

/* --------------------- ChangeScreen --------------------- */

@media screen and (min-width: 992px) {
	.srPic {
	display: flex;
	min-height: 90px;
	}
	
	.srPicTagContent {
	background-color: #f6f6f6;
	border-right : 1px solid #eeeeee;
	border-bottom : 1px solid #eeeeee; 
	margin: 5px 3px 8px 3px;
	padding: 5px 8px 5px 8px;
	font-family:'맑은고딕';
	font-size: 8pt;
	height: 90px;
	line-height: 79px;
	text-align: center;
	}
	
	#srMySidenav {width: 120px;}
	
	.srModalPicFrame {
	border: 5px double #eeeeee;
	min-height: 200px;
	width : 90%;
	}
	
	.srModalPic {
	min-height: 200px;
	width: 100%;
	}
	
	.srSecondOneModal {
	margin-left : -24px;
	}
	
	.srSecondTwoModal {
		margin-left : -24px;
	}
	
	.srThirdModal {
		width: 100%;
		margin-left : -24px;
	}
	
}


@media screen and (max-width: 991px) {
	.srPic {
	display: flex;
	min-height: 135px;
	}
	
	.srPicTagContent {
		background-color: #f6f6f6;
		border-right : 1px solid #eeeeee;
		border-bottom : 1px solid #eeeeee; 
		margin: 5px 3px 8px 3px;
		padding: 5px 8px 5px 8px;
		font-family:'맑은고딕';
		font-size: 10pt;
		height: 90px;
		line-height: 79px;
		text-align: center;
	}
	
	.srMySidenav {padding-top: 15px;}
	
	.srModalPicFrame {
		border: 5px double #eeeeee;
		min-height: 150px;
		width : 90%;
	}
	
	.srModalPic {
		min-height: 150px;
		width: 100%;
	}
	
	.srSecondOneModal {
		margin-left : -20px;
	}
	
	.srSecondTwoModal {
		margin-left : -20px;
	}
	
	.srThirdModal {
		margin-top : 25px;
		width: 97.5%;
	}
	
}

@media screen and (max-width: 768px) {
	.srFirstModal {
		width: 95%;
	}
	
	.srSecondOneModal {
		width: 95%;
		margin-top: 15px;
		margin-left: 0px;
	}
	
	.srSecondTwoModal {
		width: 95%;
		margin-left: 0px;
	}
	
	.srThirdModal {
		width: 95%;
	}
	
	.srPicTagContent {
		height: 70px;
		line-height: 59px;
	}
}

