<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="faq">
	<insert id="insertFaq" parameterType="com.sp.customer.faq.Faq">
		INSERT INTO faq(userId, subject, content) VALUES (#{userId}, #{subject}, #{content})
	</insert> 
	<sql id="where-list">
		<choose>
			<when test="condition=='all'">
				(INSTR(subject, #{keyword}) &gt; 0 
					OR DBMS_LOB.INSTR(subject, #{keyword}) &gt; 0)
			</when>
			<when test="condition=='content'">
				DBMS_LOB.INSTR(content, #{keyword}) &gt; 0
			</when>
			<otherwise>
				INSTR(${condition},#{keyword}) &gt; 0
			</otherwise>
		</choose>
	</sql>
	<select id="dataCount" parameterType="map" resultType="Integer">
		SELECT IFNULL(COUNT(*), 0)
		FROM faq f
		<where>
			<if test="keyword!=null and keyword!='' ">
				<include refid="where-list"/>
			</if>
		</where>
	</select> 
	
	
	<select id="listFaq" parameterType="map" resultType="com.sp.customer.faq.Faq">
		SELECT faqNum, f.userId, subject 
		FROM faq f
		JOIN memberInfo m ON f.userId=m.userId
		<where>
			<if test="keyword !=null and keyword !=''">
				<include refid="where-list"/>
			</if>
		</where>
		ORDER BY faqNum DESC
		LIMIT #{start}, #{rows}	
	</select>
</mapper> 