<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="freeboard">
	<select id="maxFreeBoardNum" resultType="Integer">
		select IFNULL(max(freePostnum), 0) from freeBoard
	</select>
	
	<insert id="insertFreeBoard" parameterType="com.sp.community.freeBoard.FreeBoard">
		INSERT INTO freeBoard(freePostNum, userId, subject, content, views, groupNum,
		                              depth, orderNo, parent)
		        VALUES (#{freePostNum}, #{userId}, #{subject}, #{content},
		                #{views}, #{groupNum}, #{depth}, #{orderNo}, #{parent}) 		
	</insert>

	<update id="updateOrderNo" parameterType="map">
		UPDATE freeBoard SET orderNo=orderNo+1
		       WHERE groupNum=#{groupNum} AND orderNo &gt; #{orderNo}
	</update>	
	
	<sql id="where-list">
		<if test="condition=='all'">
			(INSTR(subject, #{keyword}) &gt; 0
				OR INSTR(content, #{keyword}) &gt; 0)
		</if>
		<if test="condition=='subject'">
			INSTR(subject, #{keyword}) &gt; 0
		</if>
		<if test="condition=='content'">
			INSTR(content, #{keyword}) &gt; 0
		</if>
		<if test="condition=='nickName'">
			INSTR(nickName, #{keyword})=1
		</if>
		<if test="condition=='created'">
			DATE FORMAT(f.created, '%Y-%m-%d')=#{keyword}
		</if>
	</sql>
	
	<select id="dataCount" parameterType="map" resultType="Integer">
		SELECT IFNULL(COUNT(*),0)
		FROM freeBoard f
		JOIN memberInfo m ON f.userId=m.userId
		<where>
			<if test="keyword!=null and keyword!=''">
				<include refid="where-list"/>
			</if>
		</where>
	</select>
	
	<select id="listFreeBoard" parameterType="map" resultType="com.sp.community.freeBoard.FreeBoard">
		SELECT freePostNum, f.userId, nickName, subject, DATE_FORMAT(f.created, '%Y-%m-%d') created , views, f.created, depth, groupNum, orderNo
		FROM freeBoard f
		JOIN memberInfo m ON f.userId=m.userId
		<where>
			<if test="keyword!=null and keyword!=''">
				<include refid="where-list"/>
			</if>
		</where>
			ORDER BY groupNum DESC, orderNo ASC
			LIMIT #{start}, #{rows}
	</select>

	<select id="readFreeBoard" parameterType="Integer" resultType="com.sp.community.freeBoard.FreeBoard">
		SELECT freePostNum, f.userId, nickName, subject, content, f.created, views, groupNum, orderNo, depth, parent
		FROM freeBoard f
		JOIN memberInfo m ON f.userId=m.userId
		WHERE freePostNum=#{freePostNum}
	</select>
	
	<select id="preReadFreeBoard" parameterType="Integer" resultType="com.sp.community.freeBoard.FreeBoard">
		SELECT freePostNum, subject
		FROM freeBoard f
		JOIN memberInfo m ON f.userId=m.userId
		<where>
			<if test="keyword !=null and keyword !=''">
				<include refid="where-list"/>
			</if>
		AND ((groupNum = #{groupNum} AND orderNo &lt; #{orderNo})
		OR (groupNum &gt; #{groupNum} ))
		</where>
		ORDER BY groupNum ASC, orderNo DESC
		LIMIT 1
	</select>
	
	<select id="nextReadFreeBoard" parameterType="Integer" resultType="com.sp.community.freeBoard.FreeBoard">
		SELECT freePostNum, subject
		FROM freeBoard f
		JOIN memberInfo m ON f.userId=m.userId
	<where>
		<if test="keyword !=null and keyword !=''">
			<include refid="where-list"/>
		</if>	
		AND ((groupNum = #{groupNum} AND orderNo &gt; #{orderNo})
		OR (groupNum &lt; #{groupNum} ))
	</where>
	ORDER BY groupNum DESC, orderNo ASC
	LIMIT 1
	</select>
		
	<update id="updateHitCount" parameterType="Integer">
		UPDATE freeBoard SET views=views+1 WHERE freePostNum=#{freePostNum}
	</update>		

	
	<update id="updateFreeBoard" parameterType="com.sp.community.freeBoard.FreeBoard">
		UPDATE freeBoard SET subject=#{subject}, content=#{content}
		    WHERE freePostNum = #{freePostNum} AND userId = #{userId}
	</update>

    <select id="deleteListFreeBoard" resultType="com.sp.community.freeBoard.FreeBoard" parameterType="Integer">
        SELECT freePostnum, depth, orderNo
        FROM freeBoard
        WHERE groupNum = (SELECT groupNum FROM freeBoard WHERE freePostNum=#{freePostNum})
        AND orderNo >= (SELECT orderNo FROM freeBoard WHERE freePostNum=#{freePostNum})
        ORDER BY orderNo ASC
    </select>

    <delete id="deleteFreeBoard" parameterType="Integer">
        DELETE FROM freeBoard WHERE freePostNum = #{freePostNum}
    </delete>



</mapper>