<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="inquiry">
	<select id="maxInquiryNum" resultType="Integer">
		select IFNULL(max(inquiryNum),0) from inquiry
	</select>
	
	<insert id="insertInquiry" parameterType="com.sp.customer.inquiry.Inquiry">
		INSERT INTO inquiry(inquiryNum, userId, subject, content)
		VALUES (#{inquiryNum}, #{userId}, #{subject}, #{content})
	</insert>
	
	<sql id="where-list">
		<if test="condition=='all'">
			(INSTR(subject, #{keyword}) &gt; 0
				OR INSTR(content, #{keyword}) &gt; 0)	
		</if>
		<if test="condition=='subject'">
			INSTR(subject, #{keyword}) &gt; 0
		</if>
		<if test="condition=='content'">
			INSTR(content, #{keyword}) &gt; 0
		</if>
		<if test="condition=='userId'">
			INSTR(userId, #{keyword})=1
		</if>
		<if test="condition=='created'">
			DATE_FORMAT(i.created, '%Y-%m-%d')=#{keyword}
		</if>
	</sql>
	
	<select id="dataCount" parameterType="map" resultType="Integer">
		SELECT IFNULL(COUNT(*),0)
		FROM inquiry i
		JOIN memberInfo m On i.userId=m.userId
		<where>
			<if test="keyword!=null and keyword!=''">
				<include refid="where-list"/>
			</if>
		</where>
	</select>
	
	<select id="listInquiry" parameterType="map" resultType="com.sp.customer.inquiry.Inquiry">
		SELECT inquiryNum, i.userId, nickName, subject, content, i.created
		FROM inquiry i
		JOIN memberInfo m ON i.userId=m.userId
		<where>
			<if test="keyword!=null and keyword!=''">
				<include refid="where-list"/>
			</if>
		</where>	
			ORDER BY inquiryNum DESC
			LIMIT #{start}, #{rows}
	</select>
	
	<select id="readInquiry" parameterType="Integer" resultType="com.sp.customer.inquiry.Inquiry">
		SELECT inquiryNum, i.userId, nickName, subject, content, i.created
		FROM inquiry i
		JOIN memberInfo m ON i.userId=m.userId
		WHERE inquiryNum=#{inquiryNum}
	</select>
	
	<select id="preReadInquiry" parameterType="map" resultType="com.sp.customer.inquiry.Inquiry">
		SELECT inquiryNum, subject
		FROM inquiry i
		JOIN memberInfo m ON i.userId=m.userId
		<where>
			<if test="keyword !=null and keyword !=''">
				<include refid="where-list"/>
			</if>
		AND(inquiryNum &gt; #{inquiryNum})
		</where>
		ORDER BY inquiryNum ASC
		LIMIT 1
	</select>
	
	<select id="nextReadInquiry" parameterType="map" resultType="com.sp.customer.inquiry.Inquiry">
		SELECT inquiryNum, subject
		FROM inquiry i
		JOIN memberInfo m ON i.userId=m.userId
		<where>
			<if test="keyword !=null and keyword !=''">
				<include refid="where-list"/>
			</if>
			AND (inquiryNum &lt; #{inquiryNum})
		</where>
		ORDER BY inquiryNum DESC
		LIMIT 1
	</select>
	
	<update id="updateInquiry" parameterType="com.sp.customer.inquiry.Inquiry">
		UPDATE inquiry SET subject=#{subject}, content=#{content}
		WHERE inquiryNum=#{inquiryNum}
	</update>
	
	<delete id="deleteInquiry" parameterType="Integer">
		DELETE FROM inquiry WHERE inquiryNum=#{inquiryNum}
	</delete>
	
	<!-- 파일 -->
	<insert id="insertFile" parameterType="com.sp.customer.inquiry.Inquiry">
		INSERT INTO inquiryFile(inquiryNum, saveFilename, originalFilename,FileSize)
		VALUES (#{inquiryNum}, #{saveFilename}, #{originalFilename}, #{fileSize})
	</insert>
	
	<select id="listFile" parameterType="Integer" resultType="com.sp.customer.inquiry.Inquiry">
		SELECT fileNum, inquiryNum, saveFilename, originalFilename, fileSize
		FROM inquiryFile
		WHERE inquiryNum=#{inquiryNum}
	</select>
	
	<select id="readFile" parameterType="Integer" resultType="com.sp.customer.inquiry.Inquiry">
		SELECT fileNum, inquiryNum, saveFilename, originalFilename, fileSize
		FROM inquiry 
		WHERE fileNum=#{fileNum} 
	</select>
	
	<delete id="deleteFile1" parameterType="Integer">
		DELETE FROM inquiryFile WHERE inquiryNum=#{inquiryNum}
	</delete>
	
	<delete id="deleteFile2" parameterType="Integer">
		DELETE FROM inquiryFile WHERE fileNum=#{fileNum}
	</delete>
</mapper>
