<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="member">

<select id="loginMember" parameterType="String" resultType="com.sp.member.Member">
	SELECT m.userNum, userId, nickname, userPwd, enabled, tel,
		created, lastLogin, picture, isAdmin, blicenseNum, blicenseKindNum
		FROM memberInfo m 
	    LEFT OUTER JOIN blicense bl ON m.userNum = bl.userNum
	    WHERE userId = #{userId}
</select>


<select id="readMember" parameterType="String" resultType="com.sp.member.Member">
	SELECT userNum, userId, nickname, userPwd, enabled, tel,
		created, lastLogin, picture, isAdmin
		FROM memberInfo
	    WHERE userId = #{userId}
</select>

<select id="checkUserId" parameterType="String" resultType="Integer">
	SELECT IFNULL(COUNT(*),0) FROM memberInfo WHERE userId = #{userId}
</select>

<select id="isExistSigninMail" parameterType="String" resultType="Integer">
	SELECT IFNULL(COUNT(*), 0) FROM signinNum WHERE userEmail = #{userEmail}
</select>

<insert id="insertSigninMailNum" parameterType="com.sp.mail.MailConfirmDTO">
	INSERT INTO signinNum (userEmail, confirmNum) VALUES (#{userEmail},#{numRan})
</insert>

<update id="updateSigninMailNum" parameterType="com.sp.mail.MailConfirmDTO">
	UPDATE signinNum SET confirmNum = #{numRan} WHERE userEmail = #{userEmail} 
</update>

<insert id="insertMember" parameterType="com.sp.member.Member">
	INSERT INTO member(usership) VALUES ('0');
</insert>

<select id="selectMemberNum" resultType="Integer">
	SELECT MAX(userNum) userNum FROM member
</select>

<insert id="insertMemberInfo" parameterType="com.sp.member.Member">
	INSERT INTO memberInfo(userNum, userId, nickname, userPwd, tel, picture) 
		VALUES (#{userNum},#{userId},#{nickname},#{userPwd},#{tel},#{picture, jdbcType=VARCHAR})
</insert>


<insert id="insertKakaoMemberInfo" parameterType="com.sp.member.Member">
	INSERT INTO memberInfo(userNum, userId, nickname)
		VALUES (#{userNum}, #{userId}, #{nickname})
</insert>

</mapper>