<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="mypage">

<update id="updateProfile" parameterType="com.sp.member.Member">
	UPDATE memberInfo SET nickname = #{nickname}, userPwd = #{userPwd}, tel = #{tel}, updated = (NOW())
	<if test="picture != null">
		, picture = #{picture}
	</if>
	WHERE userId = #{userId}  
</update>

<insert id="insertWanote" parameterType="com.sp.mypage.Wanote">
	INSERT INTO wanote(userId, subject, content) VALUES (#{userId},#{subject},#{content})
</insert>
<select id="selectMaxWanoteNum" resultType="Integer">
	SELECT IFNULL(MAX(waNum), 0) FROM wanote 
</select>
<insert id="insertWanoteFile" parameterType="com.sp.mypage.WanoteFileDTO">
	INSERT INTO wanotefile(originalFilename, saveFilename, waNum) VALUES (#{originalFilename}, #{saveFilename}, #{waNum})
</insert>

</mapper>