<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="questionBoard">

	<select id="maxQuestionBoardNum" resultType="Integer">
		select IFNULL(max(questionPostNum), 0) from questionBoard
	</select>
	
	<insert id="insertQuestionBoard" parameterType="com.sp.community.questionBoard.QuestionBoard">
		INSERT INTO questionBoard(questionPostNum, userId, subject, content, views, groupNum, depth, orderNo, parent)
		VALUES (#{questionPostNum}, #{userId}, #{subject}, #{content}, #{views}, #{groupNum}, #{depth}, #{orderNo}, #{parent})	
	</insert>
	
	<update id="updateOrderNo" parameterType="map">
		UPDATE questionBoard SET orderNo=orderNo+1
			WHERE groupNum=#{groupNum} AND orderNo &gt; #{orderNo}
	</update>
	
	<sql id="where-list">
		<if test="condition=='all'">
			(INSTR(subject, #{keyword}) &gt; 0
				OR INSTR(content, #{keyword}) &gt; 0)
		</if>
		<if test="condition=='subject'">
			INSTR(subject, #{keyword}) &gt; 0
		</if>
		<if test="condition=='content'">
			INSTR(content, #{keyword}) &gt; 0
		</if>
		<if test="condition=='userId'">
			INSTR(userId, #{keyword})=1
		</if>
		<if test="condition=='created'">
			DATE FORMAT(q.created, '%Y-%m-%d')=#{keyword}
		</if>
	</sql>
	
	<select id="dataCount" parameterType="map" resultType="Integer">
		SELECT IFNULL(COUNT(*),0)
		FROM questionBoard q
		JOIN memberInfo m ON q.userId=m.userId
		<where>
			<if test="keyword!=null and keyword!=''">
				<include refid="where-list"/>
			</if>
		</where>
	</select>
	
	<select id="listQuestionBoard" parameterType="map" resultType="com.sp.community.questionBoard.QuestionBoard">
		SELECT questionPostNum, q.userId, nickName, subject, DATE_FORMAT(q.created, '%Y-%m-%d') created, views, q.created, depth, groupNum, orderNo
		FROM questionBoard q
		JOIN memberInfo m ON q.userId=m.userId
		<where>
			<if test="keyword!=null and keyword!=''">
				<include refid="where-list"/>
			</if>
		</where>
		ORDER BY groupNum DESC, orderNo ASC
		LIMIT #{start}, #{rows}
	</select>
	
	<select id="readQuestionBoard" parameterType="Integer" resultType="com.sp.community.questionBoard.QuestionBoard">
		SELECT questionPostNum, q.userId, nickName, subject, content, q.created, views, groupNum, orderNo, depth, parent
		FROM questionBoard q
		JOIN memberInfo m ON q.userId=m.userId
		WHERE questionPostNum=#{questionPostNum}
	</select>
	
	<select id="preReadQuestionBoard" parameterType="Integer" resultType="com.sp.community.questionBoard.QuestionBoard">
		SELECT questionPostNum, subject
		FROM questionBoard q
		JOIN memberInfo m ON q.userId=m.userId
		<where>
			<if test="keyword !=null and keyword !=''">
				<include refid="where-list"/>
			</if>
		AND ((groupNum=#{groupNum} AND orderNo &lt; #{orderNo})
		OR (groupNum &gt; #{groupNum}))
		</where>
		ORDER BY groupNum ASC, orderNo DESC
		LIMIT 1
	</select>
	
	<select id="nextReadQuestionBoard" parameterType="Integer" resultType="com.sp.community.questionBoard.QuestionBoard">
		SELECT questionPostNum, subject
		FROM questionBoard q
		JOIN memberInfo m ON q.userId=m.userId
	<where>
		<if test="keyword !=null and keyword !=''">
			<include refid="where-list"/>
		</if>
		AND ((groupNum=#{groupNum} AND orderNo &gt; #{orderNo})
		OR (groupNum &lt; #{groupNum}))
	</where>
	ORDER BY groupNum DESC, orderNo ASC
	LIMIT 1
	</select>
	
	<update id="updateHitCount" parameterType="Integer">
		UPDATE questionBoard SET views=views+1 WHERE questionPostNum=#{questionPostNum}
	</update>
	
	<update id="updateQuestionBoard" parameterType="com.sp.community.questionBoard.QuestionBoard">
		UPDATE questionBoard SET subject=#{subject}, content=#{content}
		WHERE questionPostNum=#{questionPostNum} AND userId=#{userId}
	</update>
	
	<select id="deleteListQuestionBoard" resultType="com.sp.community.questionBoard.QuestionBoard" parameterType="Integer">
		SELECT questionPostNum, depth, orderNo
		FROM questionBoard
		WHERE groupNum=(SELECT groupNum FROM questionBoard WHERE questionPostNum=#{questionPostNum})
		AND orderNo >=(SELECT orderNo FROM questionBoard WHERE questionPostNum=#{questionPostNum})
		ORDER BY orderNo ASC
	</select>
	
	<delete id="deleteQuestionBoard" parameterType="Integer">
		DELETE FROM questionBoard WHERE questionPostNum=#{questionPostNum}
	</delete>
</mapper>