<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="studyroom">
	
	<!-- 넘버 알아내기 -->
	<select id="searchNum" resultType="Integer" parameterType="com.sp.studyroom.StudyRoomTable">
		SELECT IFNULL(max(${searchName}), 0) FROM ${tableName}
	</select>
	
	<!-- 카운트 개수 -->
	<select id="countNum" resultType="Integer"  parameterType="com.sp.studyroom.StudyRoomTable">
		SELECT IFNULL(count(DISTINCT ${searchName}), 0) FROM ${tableName}
	</select>
	
	<!-- 카페 기본정보 넣기 -->
	<insert id="insertCafe" parameterType="com.sp.studyroom.StudyRoom">
		INSERT INTO cafe (cafeNum, userNum, cafeName, cafeTel, cafeOwner, cafeIntro, sido, sigungu, bname, 
								roadAddr, normAddr, buildName, detailAddr, bCode, cafeOpen, cafeClose)
		VALUES(#{cafeNum}, #{userNum}, #{cafeName}, #{cafeTel}, #{cafeOwner}, #{cafeIntro}, #{sido}, #{sigungu}, #{bname},
								 #{roadAddr}, #{normAddr}, #{buildName}, #{detailAddr}, #{bCode}, #{cafeOpen}, #{cafeClose})
	</insert>
	
	<!-- 카페 파일정보 넣기  -->
	<insert id="insertCafeFile" parameterType="com.sp.studyroom.StudyRoom">
		INSERT INTO cafeFile(cafeNum, imgFilename, saveFilename) VALUES(#{cafeNum}, #{imgFilename}, #{saveFilename} )
	</insert>
	
	
	<!-- 카페별 방정보 넣기 -->
	<insert id="insertCafeRoom" parameterType="com.sp.studyroom.StudyRoom">
		INSERT INTO cafeRoom (roomNum, cafeNum, roomName, minUser, maxUser, timeOrRoom, unitPrice)
		VALUES(#{roomNum},#{cafeNum}, #{roomName}, #{minUser}, #{maxUser}, #{timeOrRoom}, #{unitPrice})
	</insert>
	
	<!-- 방별 시간정보 넣기 -->
	<insert id="insertCafeRoomDetail" parameterType="com.sp.studyroom.StudyRoom">
		INSERT INTO cafeRoomDetail (roomNum, checkTime) VALUES(#{roomNum},#{checkTime})
	</insert>
	
	
	<!-- 스터디룸 리스트 가져오기 -->
	<select id="listStudyRoom" parameterType="map" resultType="com.sp.studyroom.StudyRoom">
		SELECT cafeNum, userNum, cafeName, cafeIntro, sido, sigungu, bname, 
			   roadAddr, bCode
		FROM cafe
		<where>
			
		</where>
		ORDER BY cafeNum DESC
		LIMIT #{start}, #{rows}
	</select>
	
	<!-- 스터디룸 파일 리스트 가져오기 -->
	<select id="listStudyRoomFile" parameterType="Integer" resultType="com.sp.studyroom.StudyRoomFile">
		SELECT fileNum, cafeNum, imgFilename, saveFilename
		FROM cafeFile
		WHERE cafeNum=#{cafeNum}
	</select>
	
	<!-- 모달 스터디룸 가져오기 -->
	<select id="studyRoom" parameterType="Integer" resultType="com.sp.studyroom.StudyRoom">
		SELECT cafeNum, userNum, cafeName, cafeTel, cafeOwner, cafeIntro, sido, sigungu, bname, 
			   roadAddr, normAddr, buildName, detailAddr, bCode, cafeOpen, cafeClose
		FROM cafe
		WHERE cafeNum=#{cafeNum}
	</select>
	
	<!-- 방정보 리스트 가져오기 -->
	<select id="studyRoomList" parameterType="Integer" resultType="com.sp.studyroom.StudyRoomDetail">
		SELECT roomNum, cafeNum, roomName, minUser, maxUser, timeOrRoom, unitPrice
		FROM cafeRoom
		WHERE cafeNum=#{cafeNum}
	</select>
	
	<!-- 방별 체크시간 확인하기 -->
	<select id="studyRoomTimeList" parameterType="Integer" resultType="com.sp.studyroom.StudyRoomDetail">
		SELECT checkTime
		FROM cafeRoomDetail
		WHERE roomNum=#{roomNum}
	</select>
	
	
</mapper>