<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="teacher">

	<select id="readTeacher" parameterType="Integer" resultType="com.sp.teacher.Teacher">
	SELECT userNum, userId, nickname, userPwd, enabled, picture, content, tel
			FROM memberInfo 
			LEFT JOIN introduce 
			ON userId = tId
		    WHERE userNum = #{tnum}
	</select>
	
	<select id="readSubject" parameterType="String" resultType="map">
		SELECT categoryName, courseName 
			FROM subject s JOIN course c 
			ON s.courseNum = c.courseNum 
			JOIN category a
			ON c.categoryNum = a.categoryNum
			WHERE tId = #{userId}
	</select>
	
	<insert id="insertIntroduce" parameterType="com.sp.teacher.Teacher">
		INSERT INTO introduce(tId, content) VALUES (#{userId}, #{content})
	</insert>
	
	<update id="updateIntroduce" parameterType="com.sp.teacher.Teacher">
		UPDATE introduce SET content = #{content} WHERE tId=#{userId}
	</update>


	<select id="readWork" parameterType="Integer" resultType="com.sp.teacher.Work">
		SELECT num, content FROM work WHERE tnum = #{tnum}
	</select>
	
	<insert id="insertWork" parameterType="com.sp.teacher.Work">
		INSERT INTO work(tnum, content) VALUES (#{tnum}, #{content})
	</insert>
	
	<select id="readLastWorkNum" parameterType="Integer" resultType="Integer">
		select num from work where tnum=#{tnum} order by num desc LIMIT 1
	</select>
	
	<delete id="deleteWork" parameterType="Integer">
		DELETE FROM work WHERE num = #{num}
	</delete>
	
	<select id="readAvgScore" parameterType="Integer" resultType="java.lang.Double">
		SELECT ifnull(avg(score),0) from treview where tnum= #{tnum}
	</select>
</mapper>