<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="timer">

<insert id="insertTimer" parameterType="map">
	INSERT INTO timer (userId, goalNum, subject, content, studyCategory) VALUES (#{userId}, #{goalNum}, #{subject}, #{content}, #{studyCategory})
</insert>

<select id="selectRecentTimer" parameterType="String" resultType="com.sp.timer.Timer">
	SELECT timerNum, goalNum FROM timer WHERE userId = #{userId} ORDER BY sTime DESC LIMIT 1
</select>

<update id="updateETimer" parameterType="map">
	UPDATE  timer SET eTime = NOW(), pureStudyTime = #{pureStudyTime} WHERE timerNum = #{timerNum}
</update>

<select id="readTimer" parameterType="String" resultType="com.sp.timer.Timer">
	SELECT MAX(timerNum) timerNum,userId,sTime, eTime, goalNum, pureStudyTime  FROM timer WHERE userId=#{userId};
</select>

<select id="readTimer2" parameterType="Integer" resultType="com.sp.timer.Timer">
	SELECT * FROM timer WHERE timerNum = #{timerNum}
</select>

<select id="readCategory" parameterType="String" resultType="com.sp.study.Study">
	SELECT userId, studyName FROM study WHERE userId = #{userId};
</select>


</mapper>  