<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="worryBoard">

	<select id="maxWorryBoardNum" resultType="Integer">
		select IFNULL(max(worryPostNum), 0) from worryBoard
	</select>
	
	<insert id="insertWorryBoard" parameterType="com.sp.community.worryBoard.WorryBoard">
		INSERT INTO worryBoard(worryPostNum, userId, subject, content, views, created, groupNum,
		                              depth, orderNo, parent)
		VALUES (#{worryPostNum}, #{userId}, #{subject}, #{content}, 
				#{views}, #{created}, #{groupNum}, #{depth}, #{orderNo}, #{parent})
	</insert>
	
	<update id="updateOrderNo" parameterType="map">
		UPDATE worryBoard SET orderNo=orderNo+1
				WHERE groupNum=#{groupNum} AND orderNo &gt; #{orderNo}
	</update>
	
	<sql id="where-list">
		<if test="condition=='all'">
			(INSTR(subject, #{keyword}) &gt; 0
				OR INSTR(content, #{keyword}) &gt; 0)
		</if>
		<if test="condition=='subject'">
			INSTR(subject, #{keyword}) &gt; 0
		</if>
		<if test="condition=='content'">
			INSTR(content, #{keyword}) &gt; 0
		</if>
		<if test="condition=='userId'">
			INSTR(nickName, #{keyword})=1
		</if>
		<if test="condition=='created'">
			DATE FORMAT(w.created, '%Y-%m-%d')=#{keyword}
		</if>
	</sql>
	
	<select id="dataCount" parameterType="map" resultType="Integer">
		SELECT IFNULL(COUNT(*),0)
		FROM worryBoard w
		JOIN memberInfo m ON w.userId=m.userId
		<where>
			<if test="keyword!=null and keyword!=''">
				<include refid="where-list"/>
			</if>
		</where>
	</select>
	
	<select id="listWorryBoard" parameterType="map" resultType="com.sp.community.worryBoard.WorryBoard">
		SELECT worryPostNum, w.userId, nickName, subject, DATE_FORMAT(w.created, '%Y-%m-%d') created , views, w.created, depth, groupNum, orderNo, parent
		FROM worryBoard w
		JOIN memberInfo m ON w.userId=m.userId
		<where>
			<if test="keyword!=null and keyword!=''">
				<include refid="where-list"/>
			</if>
		</where>
			ORDER BY groupNum DESC, orderNo ASC
			LIMIT #{start}, #{rows}
	</select>

	<select id="readWorryBoard" parameterType="Integer" resultType="com.sp.community.worryBoard.WorryBoard">
		SELECT worryPostNum, w.userId, nickName, subject, content, w.created, views, groupNum, orderNo, depth, parent
		FROM worryBoard w
		JOIN memberInfo m ON w.userId=m.userId
		WHERE worryPostNum=#{worryPostNum}
	</select>
	
	<select id="preReadWorryBoard" parameterType="Integer" resultType="com.sp.community.worryBoard.WorryBoard">
		SELECT worryPostNum, subject
		FROM worryBoard w
		JOIN memberInfo m ON w.userId=m.userId
		<where>
			<if test="keyword !=null and keyword !=''">
				<include refid="where-list"/>
			</if>
		AND ((groupNum=#{groupNum} AND orderNo &lt; #{orderNo})
		OR (groupNum &gt; #{groupNum}))
		</where>
		ORDER BY groupNum ASC, orderNo DESC
		LIMIT 1
	</select>
	
	<select id="nextReadWorryBoard" parameterType="Integer" resultType="com.sp.community.worryBoard.WorryBoard">
		SELECT worryPostNum, subject
		FROM worryBoard w
		JOIN memberInfo m ON w.userId=m.userId
	<where>
		<if test="keyword !=null and keyword !=''">
			<include refid="where-list"/>
		</if>	
		AND ((groupNum=#{groupNum} AND orderNo &gt; #{orderNo})
		OR (groupNum &lt; #{groupNum}))
	</where>
	ORDER BY groupNum DESC, orderNo ASC
	LIMIT 1
	</select>
		
		<update id="updateHitCount" parameterType="Integer">
			UPDATE worryBoard SET views=views+1 WHERE worryPostNum=#{worryPostNum}
		</update>
		
		<update id="updateWorryBoard" parameterType="com.sp.community.worryBoard.WorryBoard">
			UPDATE worryBoard SET subject=#{subject}, content=#{content}
			WHERE worryPostNum=#{worryPostNum} AND userId=#{userId}
		</update>
		
		<select id="deleteListWorryBoard" resultType="com.sp.community.worryBoard.WorryBoard" parameterType="Integer">
			SELECT worryPostNum, depth, orderNo
			FROM worryBoard
			WHERE groupNum=(SELECT groupNum FROM worryBoard WHERE worryPostNum=#{worryPostNum})
			AND orderNo>=(SELECT orderNo FROM worryBoard WHERE worryPostNum=#{worryPostNum})
			ORDER BY orderNo ASC
		</select>
		
		<delete id="deleteWorryBoard" parameterType="Integer">
			DELETE FROM worryBoard WHERE worryPostNum=#{worryPostNum}
		</delete>
</mapper>