@charset "UTF-8";


.sPicTagContent {
	padding: 10px 10px 5px 10px;
	font-family:'맑은고딕';
	font-size: 9pt;
	min-height: 30px;
}
.studyIntro {
	min-height: 50px;
	margin: auto;
	padding-top :10px;
	font-family:'맑은고딕'; 
	font-weight: 600; 
	font-size: 9pt; 
	color : #cccccc;
	vertical-align: middle;
}

.img-rounded {
	height: 100%;
	width: 95%;
	max-height: 150px;
	min-height: 150px;
}

.img-dialog {
	height: 100%;
	max-height: 200px;
	min-height: 200px;
	
	max-width: 200px;
	min-width: 180px;
}

.list-group-item.active, .list-group-item.active:focus, .list-group-item.active:hover {
    z-index: 2;
    color: #fff;
    background-color: #04B486;
    border-color: #04B486;
    
    
}

.nav-tabs a {
    color: #0B614B;
    text-decoration: none;
}

.dialog-content-title {
	font-size: 17px;
	padding-top: 30px;
	font-weight: bold;
}

.dialog-content {
	font-family:'맑은고딕';
	font-size: 15px;
	padding-top: 10px;
}


.smodal-body {
   text-align: left;
   min-height: 230px;
}


#studyName {
	margin-top: 10px;
}

.studyImg {
	margin-top: 15px;
}

#category {
	width: 70%;
	margin-top: 5px;
	padding-top: 2px;
	padding-bottom: 2px;
}


